/* 
Some basic styles... 
----------------------------------------------------- */
html, h1, h2, h3, h4, h5, h6, ul, li {
	margin:0;
	padding:0;
}
footer p {
	margin:0;
	padding:0;
}
body {
    width:900px;
    padding: 0;
    margin: 0 auto;
    background-color: #ccc;
}
header, main, footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#666;
	background-color: #fff;
}
h1, h2 {
    font-weight: 00;
	padding: 0.25em 0 0.5em 0;
}
h1 {
    color:White;
}
header{
	background-color: #70263d;	
}
main, footer {
	border-top: 3px solid #b3b3b3;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
nav {
	background-color: black;
	padding: 0.5em 0.5em 0.5em 0.5em;
	
}
nav li {
    display: inline;
	margin-right: 2em;
    font-weight: 700;
	color: #0000FF
}

a {
    text-decoration: none;
	color: grey;
}

a:hover {
    color: white;
}



table {
  border-collapse: collapse;
}


table, th, td {
  border: 2px solid black;
  text-align: left;
  padding : 0.5em;
}

td {
  text-align: left;
}
fieldset {
    color: #ffc34d; 
}